<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/layout.css">
    <link rel="stylesheet" href="../static/bootstrap-5.2.0-beta1-dist/css/bootstrap.css">
</head>
<body>

<h1>Welcome home</h1>
<nav>
    <ul>
        <a class="navbar-brand" href="home.html"></a>
        <li><a href="home.html">Home</a></li>
        <li><a href="login.html">About us</a></li>
        <li><a href="register.html">Contact us</a></li>
        <li><a href="aboutus.html" style="float: right">Join Us</a></li>

    </ul>
</nav>

</body>
</html>